<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<ods-dataset-context context="delib" 
                     delib-domain="grandparissud"
                     delib-dataset="deliberation-gps-migration-scdl"
                     delib-urlsync="true"
                     delib-apikey="663366283fa2af2f6b6956f5f04652aee80fba413fbfea4fc68e61b8">
<div class="container">
    <div ng-if="delib.nhits == 0" class="{{ 'col-md-' + (12) }} margin-bottom-20">
        <div class="content-card"
                         ng-class="{'content-card-horizontal': imagePosition === 'left' }">
            <div class="content-card-body">
                <div class="content-card-fields">
                    L'acte administratif que vous recherchez semble ne pas exister avec ces références.
                    <br /><br />
                    Si vous pensez qu'il s'agit d'une erreur, merci de nous écrire
                    à l'adresse <a href="mailto:numerique@grandparissud.fr">numerique@grandparissud.fr</a>
                    <br /><br />
                    Vous pouvez <a href="/pages/test-actes-admin-idf">cliquer ici pour revenir à la page de recherche des actes administratifs</a>.
                </div>
            </div>
        </div>
    </div>
   
<div ods-results="rappels" ods-results-max="1" ods-results-context="delib" ng-repeat="rappel in rappels">
    
    
        <!-- CARDS -->
        <section >
            <div 
                 ods-results="items"
                 ods-results-context="delib"
                 ods-results-max="1">
                
                <div ng-repeat="item in items"
                     class="margin-bottom-20">
                    <div class="header-article"><h1>{{ item.fields.titre }}</h1></div> 
                    <div class="content-card" ng-class="{'content-card-horizontal': imagePosition === 'left' }">
                        <div class="content-card-body">
                            <div class="content-card-fields"><div class="encadre-droit">
                            Ce service est en phase d’expérimentation et repose sur des techniques innovantes de reconnaissance de texte, notamment pour faciliter votre recherche. Nous serons ravis de bénéficier de vos retours et suggestions pour l’améliorer. Pour cela vous pouvez nous écrire à<br /><a href="https://data.grandparissud.fr/pages/contact/">Contact data.GPS</a>
                        </div>
                                <ul class="liste-items-card">
                                    <li class="theme_principal"><i class="cridf-icon cridf-icon--dossier picto-theme-card" aria-hidden="true"></i><span class="texte-theme-card"> {{item.fields.theme}}</span></li>
                                    
                                    <li class="description"><span class="etiquette"><i class="cridf-icon cridf-icon--pin" aria-hidden="true"></i> Numéro :</span> {{item.fields.numero}}</li>
                                    <li  class="description" ng-if="item.fields.type"><span class="etiquette"><i class="cridf-icon cridf-icon--folder" aria-hidden="true"></i> Type :</span> {{item.fields.type}} <div ng-if="item.fields.type_seance && item.fields.type_acte=='DEL'" style="display: inline; margin-left:10px;"><span class="etiquette"><i class="cridf-icon cridf-icon--tribune" aria-hidden="true"></i> Séance :</span> {{item.fields.type_seance}}</div></li>
                                    
<!-- Affichage de la date de la séance pour les procès-verbaux-->
                                    <li  class="description" ng-if="item.fields.date_presentation && item.fields.type=='Procès-verbaux de séance'"><span class="etiquette"><i class="cridf-icon cridf-icon--event_upcoming" aria-hidden="true"></i> Date de la séance :</span> {{item.fields.date_presentation | date:'longDate':'Europe/Paris'}} </li>
                                    <li  class="description" ng-switch="item.fields.type_acte" ng-if="item.fields.date_decision || item.fields.date_controle">
                                        
                                        <div ng-switch-when="DEL" style="display: inline;">
                                            <div ng-if="item.fields.retrait_ordre_du_jour=='Oui'">
                                                <span class="etiquette"><i class="cridf-icon cridf-icon--event_cancel" aria-hidden="true"></i> Retiré de l'ordre du jour le :</span> {{item.fields.date_presentation | date:'longDate':'Europe/Paris'}} 
                                            </div> 
                                            <div ng-if="!item.fields.retrait_ordre_du_jour"  style="display: inline;">
                                                <span class="etiquette"><i class="cridf-icon cridf-icon--event_upcoming" aria-hidden="true"></i> Date du vote :</span> {{item.fields.date_decision | date:'longDate':'Europe/Paris'}}
                                            </div>
                                        </div>
                                        <div ng-switch-when="VO" style="display: inline;"><span class="etiquette"><i class="cridf-icon cridf-icon--event_upcoming" aria-hidden="true"></i> Vœu adopté le </span> {{item.fields.date_decision | date:'longDate':'Europe/Paris'}} </div><div ng-switch-when="AR" style="display: inline"><span class="etiquette"><i class="cridf-icon cridf-icon--event_upcoming" aria-hidden="true"></i> Date de l'arrêté :</span> {{item.fields.date_decision | date:'longDate':'Europe/Paris'}}</div><div ng-if="item.fields.date_controle" style="display: inline; margin-left:10px;"><span class="etiquette"><i class="cridf-icon cridf-icon--event_available" aria-hidden="true"></i> Contrôle de légalité :</span> {{item.fields.date_controle
                                        | date:'longDate':'Europe/Paris'}}</div></li>
                                    <li  class="description" ng-if="item.fields.type_acte=='QE'"><span class="etiquette"><i class="cridf-icon cridf-icon--quiz" aria-hidden="true"></i> Date de la question : </span>{{item.fields.date_presentation | date:'longDate':'Europe/Paris'}} <div style="display: inline; margin-left:12px;"><span class="etiquette"><i class="cridf-icon cridf-icon--forum" aria-hidden="true" style="transform: scaleX(-1);"></i> Date de la réponse :</span> {{item.fields.date_decision | date:'longDate':'Europe/Paris'}}</div></li>
                                    <li  class="description" ng-if="item.fields.date_publication"><span class="etiquette"><i class="cridf-icon cridf-icon--event" aria-hidden="true"></i> Acte publié le </span>{{item.fields.date_publication | date:'longDate':'Europe/Paris'}}</li>
                                    <!--<li ng-if="item.fields.auteur"  class="description"><span class="etiquette"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Auteur : </span> {{item.fields.auteur}}</li>-->
                                    <!--<li ng-if="item.fields.chapitre_budgetaire"  class="description"><span class="etiquette"><i class="fa fa-eur" aria-hidden="true"></i> Chapitre budgétaire : </span> {{item.fields.chapitre_budgetaire}}</li>-->


                                    <li ng-switch="item.fields.type_acte">
                                        
<!-- LIENS VERS PDF RAPPORT + DELIBERATION -->                                        
                                        <div ng-switch-when="DEL" ng-if="item.fields.url1 || item.fields.url2"  class="liens-doc">
                                            <a href="{{item.fields.url1}}" target="_blank" title="Voir le rapport au format PDF (nouvelle fenêtre)" ng-if="item.fields.url1" class="bouton-lien">Télécharger le rapport au format <abbr title="Portable Document Format" lang="en">PDF</abbr> <i class="cridf-icon cridf-icon--download" aria-hidden="true" style="font-size:1.1rem;padding-left:5px;"></i></a> <a href="{{item.fields.url2}}" target="_blank" title="Télécharger la délibération au format PDF (nouvelle fenêtre)"  ng-if="item.fields.url2" style="margin-left:10px"  class="bouton-lien">Télécharger la délibération au format <abbr title="Portable Document Format" lang="en">PDF</abbr> <i class="cridf-icon cridf-icon--download" aria-hidden="true" style="font-size:1.1rem;padding-left:5px;"></i></a></div>
                                        
<!-- LIENS VERS PDF ARRETE DE LA PRESIDENTE -->
                                        <div ng-switch-when="AR"  ng-if="item.fields.url1" class="liens-doc"><a href="{{item.fields.url1}}" target="_blank" title="Voir l'arrêté au format PDF (nouvelle fenêtre)" ng-if="item.fields.url1" class="bouton-lien">Télécharger l'arrêté au format <abbr title="Portable Document Format" lang="en">PDF</abbr> <i class="cridf-icon cridf-icon--download" aria-hidden="true" style="font-size:1.1rem;padding-left:5px;"></i></a></div>

<!-- LIENS VERS PV -->                                    
                                        <div ng-switch-when="PV"  ng-if="item.fields.url1" class="liens-doc"><a href="{{item.fields.url1}}" target="_blank" title="Voir le procès-verbal au format PDF (nouvelle fenêtre)" ng-if="item.fields.url1" class="bouton-lien">Télécharger le procès-verbal au format <abbr title="Portable Document Format" lang="en">PDF</abbr> <i class="cridf-icon cridf-icon--download" aria-hidden="true" style="font-size:1.1rem;padding-left:5px;"></i></a></div>
                                        
<!-- LIENS VERS VOEU -->                                        
                                        <div ng-switch-when="VO"  ng-if="item.fields.url1" class="liens-doc"><a href="{{item.fields.url1}}" target="_blank" title="Voir le vœu au format PDF (nouvelle fenêtre)" ng-if="item.fields.url1" class="bouton-lien">Télécharger le vœu au format <abbr title="Portable Document Format" lang="en">PDF</abbr> <i class="cridf-icon cridf-icon--download" aria-hidden="true" style="font-size:1.1rem;padding-left:5px;"></i></a></div>
                                        
<!-- LIENS VERS MOTION -->                                        
                                        <div ng-switch-when="ME"  ng-if="item.fields.url1" class="liens-doc"><a href="{{item.fields.url1}}" target="_blank" title="Voir la motion au format PDF (nouvelle fenêtre)" ng-if="item.fields.url1" class="bouton-lien">Télécharger la motion au format <abbr title="Portable Document Format" lang="en">PDF</abbr> <i class="cridf-icon cridf-icon--download" aria-hidden="true" style="font-size:1.1rem;padding-left:5px;"></i></a></div>                                        
                                        
<!-- LIENS VERS AVIS du CESER -->                                        
                                        <div ng-switch-when="AVIS"  ng-if="item.fields.url1" class="liens-doc"><a href="{{item.fields.url1}}" target="_blank" title="Voir l'avis du CESER au format PDF (nouvelle fenêtre)" ng-if="item.fields.url1" class="bouton-lien">Télécharger l'avis du CESER au format <abbr title="Portable Document Format" lang="en">PDF</abbr> <i class="cridf-icon cridf-icon--download" aria-hidden="true" style="font-size:1.1rem;padding-left:5px;"></i></a></div>

                                        <!-- LIENS VERS AVIS du CESER -->                                        
                                        <div ng-switch-when="PUB"  ng-if="item.fields.url1" class="liens-doc"><a href="{{item.fields.url1}}" target="_blank" title="Voir l'avis de publicité au format PDF (nouvelle fenêtre)" ng-if="item.fields.url1" class="bouton-lien">Télécharger l'avis de publicité au format <abbr title="Portable Document Format" lang="en">PDF</abbr> <i class="cridf-icon cridf-icon--download" aria-hidden="true" style="font-size:1.1rem;padding-left:5px;"></i></a></div>
                                        
<!-- LIENS VERS QUESTION -->                                        
                                        <div ng-switch-when="QE"  ng-if="item.fields.url1" class="liens-doc"><a href="{{item.fields.url1}}" target="_blank" title="Voir la question n° {{item.fields.numero}} au format PDF (nouvelle fenêtre)" ng-if="item.fields.url1" class="bouton-lien">Télécharger la question au format <abbr title="Portable Document Format" lang="en">PDF</abbr> <i class="cridf-icon cridf-icon--download" aria-hidden="true" style="font-size:1.1rem;padding-left:5px;"></i></a> <a href="{{item.fields.url2}}" target="_blank" title="Voir la réponse à la question n° {{item.fields.numero}} au format PDF (nouvelle fenêtre)" ng-if="item.fields.url2" class="bouton-lien" style="margin-left:15px;">Télécharger la réponse au format <abbr title="Portable Document Format" lang="en">PDF</abbr> <i class="cridf-icon cridf-icon--download" aria-hidden="true" style="font-size:1.1rem;padding-left:5px;"></i></a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
<!-- retour à la page d'accueil                      
                    <div style="text-align: center; margin : 15px;">
                        <a href="/pages/publication-des-actes/" class="bouton-back"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour à la liste</a>
                    </div> --> 
                    <div ng-switch="item.fields.type_acte">
                        
                        <!-- CONTENU RAPPORT + DELIBERATION -->    
                        <div class="content-card" ng-class="{'content-card-horizontal': imagePosition === 'left' }" style="margin-top:10px;padding: 26px;" ng-switch-when="DEL">
                            <div ng-if="item.fields.retrait_ordre_du_jour=='Oui'" style="margin-bottom:10px;">
                                <div style="float:left;font-size:3em;margin:5px 10px;color:#ff574c" >
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                </div>
                                
                            <p style="border: 1px solid #ff574c; background: white; padding: 15px;color:black;"> Après avoir été mis à l’ordre du jour et débattu en
    séance, ce rapport a finalement été retiré de l’ordre du jour par le président de séance et le projet de
    délibération n’a pas été voté.</p>
                            </div>
                            <div id="acces-rapide" ng-if="item.fields.url2 || item.fields.sommaire_annexes">
                                <h3>Accès rapide (sommaire)</h3>
                                <a href="#expose-des-motifs">Exposé des motifs</a>
                                <span ng-if="item.fields.url2"><a href="#corps-de-deliberation">Délibération</a></span>
                                <div ng-if="item.fields.sommaire_annexes">
                                    <div ng-bind-html="item.fields.sommaire_annexes"}></div>
                                </div>
                            </div>

                            <div ng-if="item.fields.corps_expose_rapport">
                                <h2 id="expose-des-motifs">
                                    Exposé des motifs
                                </h2><div ng-bind-html="item.fields.corps_expose_rapport"}>
                                </div></div>

                            <div ng-if="item.fields.corps_visa_delib" style="margin-top:20px">
                                <h2 id="corps-de-deliberation">Délibération</h2>
                                <div ng-bind-html="item.fields.corps_visa_delib"}>
                                </div></div>

                            <div ng-if="item.fields.sommaire_annexes" style="margin-top:20px">
                                <h2>Sommaire des annexes
                                </h2><div ng-bind-html="item.fields.sommaire_annexes"}>
                                </div></div>
                        </div>
                        
                        <!-- CONTENU ARRETE -->    
                        <div class="content-card" ng-class="{'content-card-horizontal': imagePosition === 'left' }" style="margin-top:10px;padding: 26px;" ng-switch-when="AR">
                            <div ng-if="item.fields.texte_arrete">
                                <div ng-bind-html="item.fields.texte_arrete"}></div>
                            </div>
                        </div>
                        
                       <!-- CONTENU PROCES-VERBAL -->   
                        <div class="content-card" ng-class="{'content-card-horizontal': imagePosition === 'left' }" style="margin-top:10px;padding: 26px;min-height: 300px;" ng-switch-when="PV">

                            <div ng-if="item.fields.corps_pv">
                                <div ng-bind-html="item.fields.corps_pv"}></div>
                            </div>    
                        </div>
                        <!-- CONTENU VOEU -->   
                        <div class="content-card" ng-class="{'content-card-horizontal': imagePosition === 'left' }" style="margin-top:10px;padding: 26px;min-height: 300px;" ng-switch-when="VO">

                            <div ng-if="item.fields.corps_voeu">
                                <div ng-bind-html="item.fields.corps_voeu"}></div>
                            </div>    
                        </div>

                        <!-- CONTENU MOTION -->   
                        <div class="content-card" ng-class="{'content-card-horizontal': imagePosition === 'left' }" style="margin-top:10px;padding: 26px;min-height: 300px;" ng-switch-when="ME">

                            <div ng-if="item.fields.corps_voeu">
                                <div ng-bind-html="item.fields.corps_voeu"}></div>
                            </div>    
                        </div>
                        
                         <!-- CONTENU AVIS du CESER -->    
                        <div class="content-card" ng-class="{'content-card-horizontal': imagePosition === 'left' }" style="margin-top:10px;padding: 26px;" ng-switch-when="AVIS">
                            <div ng-if="item.fields.corps_visa_delib">
                                <div ng-bind-html="item.fields.corps_visa_delib"}></div>
                            </div>
                        </div>
                        
                        <!-- CONTENU AVIS de publicité -->    
                        <div class="content-card" ng-class="{'content-card-horizontal': imagePosition === 'left' }" style="margin-top:10px;padding: 26px;" ng-switch-when="PUB">
                            <div ng-if="item.fields.texte_arrete">
                                <div ng-bind-html="item.fields.texte_arrete"}></div>
                            </div>
                        </div>
                        
                         <!-- CONTENU QUESTION ECRITE -->   
                        <div class="content-card" ng-class="{'content-card-horizontal': imagePosition === 'left' }" style="margin-top:10px;padding: 26px;min-height: 300px;" ng-switch-when="QE">

                            <div ng-if="item.fields.corps_question">
                                <h2>Question</h2>
                                <div ng-bind-html="item.fields.corps_question"}></div>
                                <h2 style="margin-top:30px;">Réponse de la Présidence</h2>
                                <div ng-bind-html="item.fields.corps_reponse"}></div>
                            </div>    
                        </div> 
            </div>
            </div>
        
    <!-- retour à la page d'accueil  -->  
<div class="bloc-bouton-back">
                         <a href="/pages/test-actes-admin-idf/"  class="bouton-back"><i class="cridf-icon cridf-icon--arrow_circle_left" aria-hidden="true"></i><span> Retour à la liste</span></a>
                    </div> 
            </div></section> </div></div>      
    </ods-dataset-context>
    
