/* General Layout
========================================================================== */
:root {
    --blanc-neutre-100: #FFF;
    --noir-neutre-100: #111751;
    --noir-neutre-72: rgba(17, 23, 81, 0.72);
    --secondary-color: black;
    --Orpiment: #DFAF2C;
    --bleu-principal-3: #7053CD;
    --rouge-principal-3: #D71302;
    --Safran: #F4C430;
    --Vert: #5abf7f;
}
body{
    background:none;
    background-color:white;

}
main {
    margin: 1rem 0 1em 0;

}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}
.titre-accroche{
    padding: 30px 65px;
    margin: 0 0 25px;
    background: #fff;
}
.ods-content{
    /*background: url(/assets/theme_image/pattern.png) repeat top left;*/
    position: relative;
    z-index: 1;
}
@media screen and (min-width: 992px) {
    .row-equal-height {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    /* Fix for early content wrapping in Safari*/
    .row-equal-height:before,
    .row-equal-height:after {
        content: normal;
    }
}

@media screen and (min-width: 1500px)
.container {
    width: 1440px;
}


.page-title {
    position: relative;
    font-size: 3rem;

    margin: 0 0 15px;
    padding-left: 20px;
    font-family: "Eczar",arial,arial,sans-serif;
}
.page-title:before{

    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 6px;
    background: #ff574c;
}

.page-subtitle {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.2;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}
/* titre - intro
========================================================================== */
h1{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size:2.5rem;
    display: flex;
    padding: 3.5rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    align-self: stretch;
    background: var(--Vert, #5abf7f);
    border-radius: 12px 12px 0px 0px ;
}

.container-article{
    display: flex;
    width: 100%;
    padding: 2rem 8rem;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap:wrap;
}
.container-article>ul.intro, .container-article>p{
    margin-top:0px;
    margin-bottom: 0px;
}
ul.intro li:before {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--rouge-principal-3, #D71302);
    margin: 0 8px 0 0;
}

.container-article p, .container-article ul{
    width:100%;
    color: var(--noir-neutre-72, rgba(17, 23, 81, 0.72));
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.container-article p:not(:first-child) {
    margin-top:1rem;
}
/* Search Module
========================================================================== */
h2{font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Outfit',sans-serif;
    line-height: 1.25rem;
    letter-spacing: .06em;
    margin-bottom: 1.5rem;
    color:var(--Orpiment, #2A327B);
    text-align:center;
}

.search-module-container {
    width: 380px;
    height: 30px;
    display:flex;
    flex-direction:column;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 1px;
    color:var(--noir-neutre-100);
    justify-content: space-between;
}

.search-module {
    display: flex;
    align-items: stretch;
    margin-bottom: 13px;
    transition: all .2s;
    border: 1px solid #111751;
    background-color: #FFF;
    flex-grow: 1;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.search-module:hover,
.search-module:focus-within {
    border-color: var(--Safran);
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
    margin: 5px 5px 0;
}

.cridf-icon--cancel::before {
    color: var(--rouge-principal-3);
}
.search-module-input {
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none;
    padding: 8px 0;
    transition: all .2s;
    color: var(--text);
}

.search-module-input::placeholder {
    transition: all .2s;
}

.search-module-clear {
    color: var(--Safran);
    font-size: 1.5rem;
    background: transparent;
    border: none;
    margin: 0;
    outline: none;
    padding-top: 2px;
    transition: all .2s;
}

.search-module-clear:hover {
    color: var(--links)
}

.search-module:hover .search-module-icon,
.search-module:focus-within .search-module-icon,
.search-module:hover .search-module-input::placeholder,
.search-module:focus-within .search-module-input::placeholder {
    color: var(--links);
}

.search-module>i.cridf-icon--search_thicker {
    font-size: 1.5rem;
    margin-right: 5px;
}

/* Filters
========================================================================== */

.filter-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.categories {
    display: flex;
    align-items: center;
}

.select-container {
    display: flex;
    gap: 10px;
}

select {
    height: 40px;
    padding: 0 15px;
    border: 1px solid #111751;
    background-color: #FFF;
}

.filter-container {
    display: inline-flex;
    align-items: center;
}

.filter-date {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

.odswidget-select .odswidget-select-dropdown.open .odswidget-select-dropdown-menu {
    width: 100%
}
.clear-filters {
    border-radius: 1rem;
    /*border: #D71302 1px solid;*/
    padding: 2px 15px 2px 15px;
    color: var(--rouge-principal-3, #D71302);
    font-weight: 700;

}
.clear-filters:hover {
    color: var(--noir-neutre-100);
    transition: color 1s ease;
}
.clear-filters-button{text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;}
.odswidget-select,
.odswidget-select .odswidget-select-dropdown {
    width: 100%;
}
.odswidget-select-button{
    padding: 5px 5px 5px 15px;
    border-radius: 1rem;
    border: 1px solid var(--noir-neutre-72, rgba(17, 23, 81, 0.72));
    background: var(--blanc-neutre-100, #FFF);
    color: var(--noir-neutre-72, rgba(17, 23, 81, 0.72));

}
.odswidget-select-input{
    padding: 5px 15px 5px 15px;
    border: 1px solid #ff574c;
    border-radius: 20px;
    color: #212429;
}
.odswidget-select-input-container {
    position: relative;
    border:none;
}
.odswidget-select-button:hover {
    border: 1px solid #D71302;
}
@media screen and (min-width: 500px) {
    .filter-list > * {
        /*margin: 0 10px 10px 0;*/
        width: inherit;
    }
    .odswidget-select .odswidget-select-dropdown.open .odswidget-select-dropdown-menu {
        width: max-content;
        min-width: 200px;
    }
}
.odswidget-select-dropdown-item-icon.fa-check-square {
    color: #ff574c;
}
.fa {
    font-size: large;
    margin-right: 8px;
}
odswidget-select-dropdown-item-icon {
    color: #ff574c;
}
.odswidget-select-dropdown-label {
    padding: 3px 0 3px 0;}
/*********** Filter date ************/
.filter-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 13px 26px 13px 26px;
}
.odswidget-date-range-slider {
    width: 100%;
}
.filter-date-button {
    margin-left: 0;
    margin-top: 13px;
    white-space: nowrap;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    color: var(--rouge-principal-3, #D71302);
    background:none;
    border:none;
    font-weight:700;
    transition: color 1s ease;
}
.filter-date-button:not(.filter-date-button-disabled):hover {
    color: var(--noir-neutre-100);

}
.filter-date-button-disabled {
    opacity: 0.2;
    pointer-event: none;
    text-decoration: none;
}

.irs--flat .irs-line {
    top: 25px;
    height: 12px;
    background-color: #EFF1FF;
    border-radius: 4px;
}
.irs--flat .irs-min, .irs--flat .irs-max {
    top: 0;
    padding: 1px 3px;
    color: #757575;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    background-color: #eff1ff;
    border-radius: 4px;
}
@media screen and (min-width: 500px) {
    .filter-date {
        flex-direction: row;
    }
    .filter-date-button {
        margin-left: 50px;
        margin-top: 0;
    }
}

/* date range slider style override */
.odswidget-date-range-slider .irs--flat .irs-from, .odswidget-date-range-slider .irs--flat .irs-single, .odswidget-date-range-slider .irs--flat .irs-to {
    color: var(--text);
    border: 1px solid #cbd2db;
    border-radius: 2rem;
    background: #FFFFFF;
}
.odswidget-date-range-slider .irs--flat .irs-from:before, .odswidget-date-range-slider .irs--flat .irs-single:before, .odswidget-date-range-slider .irs--flat .irs-to:before {
    border-top-color: var(--text);
}
.odswidget-date-range-slider .irs--flat .irs-bar {
    background-color: #2A327B;
}
.odswidget-date-range-slider .irs--flat .irs-handle>i:first-child {
    background-color: var(--rouge-principal-3);
    width:4px;
}
.odswidget-date-range-slider .irs--flat .irs-handle.state_hover>i:first-child, .odswidget-date-range-slider .irs--flat .irs-handle:hover>i:first-child {
    background-color: var(--text);
}

.irs--flat .irs-grid-text {
    color: #333;
}
.irs--flat .irs-grid-pol {
    background-color: rgba(17, 23, 81, 0.24);
}

/* Content Card
========================================================================== */

.content-card {
    border-radius: 12px;
    border: 1px solid var(--noir-neutre-noir-24, rgba(17, 23, 81, 0.24));
    background: var(--blanc-neutre-blanc-100, #FFF);
    height:100%;
}

.content-card-horizontal {
    display: flex;
}

.content-card-horizontal .content-card-img {
    height: auto;
    flex: 0 0 25%;
    width: 25%;
    border-radius: 4px 0 0 4px;
}

.content-card-img {
    display: block;
    height: 110px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-card-body {
    padding: 26px;
    flex: 1 1 auto;
}

.content-card-title {
    color: var(--noir-neutre-noir-100, #111751);
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    max-width: 100%;
    display: block;
    font-family: Outfit;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 30.8px */
}

.content-card-description {
    color: var(--text);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 26px;
    max-width: 100%;
}

.content-card-fields dt {
    font-size: 0.8rem;
    opacity: 0.8;
    display:none;
}

.content-card-fields dd {
    margin-left: 0;
}

.content-card-icon {
    color: var(--highlight);
    font-size: 2rem;
    margin-bottom: 13px;
    max-width: 100%;
}

.content-card-link {
    color: var(--links);
    font-weight: bold;
    transition: all .2s;
    opacity: 1;
    max-width: 100%;
}

.content-card-link:hover {
    opacity: .7;
    text-decoration: none;
}

.content-card-button {
    color: var(--highlight);
    border: 1px solid var(--highlight);
    background: transparent;
    display: inline-block;
    text-align: center;
    font-size: .867rem;
    border-radius: 4px;
    padding: .5rem 1.15rem;
    text-decoration: none;
    transition: all .2s;
}

.content-card-button:hover {
    background-color: var(--highlight);
    color: #FFFFFF;
    text-decoration: none;
}
ul {
    list-style:none;
    margin:0;
    padding-left:0;
    color:#212429;
}


ul.intro li {text-indent: 14px;}
li {
    margin-bottom:0px;/* à adapter */
}
ul>li.ng-scope>a {
    color: var(--rouge-principal-rouge-3, #D71302);
    text-align: right;
    font-variant-numeric: lining-nums tabular-nums;
    /* Desktop/Boutons/Petit */
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;

}
ul>li.ng-scope>a.odswidget-pagination__page-link{text-decoration:none;background-color:#EFF1FF;color: #2A327B;border-radius:2px;   }
ul>li.ng-scope>a.odswidget-pagination__page-link:hover{margin:2px;background-color:#2A327B;color: #EFF1FF}
ul>li.ng-scope>a.odswidget-pagination__page-link--active {
    background: var(--rouge-principal-3, #D71302) !important; color: white !important;}

.zone-lien-dataset {
    margin: 1.5rem 0;
    font-size: 1.25rem;
}
.zone-lien-dataset>a {
    font-family: Outfit;
    font-style: normal;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    line-height: normal;
    transition: text-decoration 0.75s ease;
}

.zone-lien-dataset>a:hover{
    text-decoration:underline var(--noir-neutre-100);
    margin-right:3px;
    text-decoration-thickness: 2px;
}
a+i.cridf-icon {
    color: var(--rouge-principal-3);
}
ul>li.ng-scope>a:hover{
    text-decoration-color: var(--noir-neutre-72, rgba(17, 23, 81, 0.72));
    margin-right:5px;
    transition: text-decoration-color 1s ease;
    transition: margin-right 0.5s ease;
}
li.lien-acte {
    margin-top: 10px;
}
.lien-acte>.cridf-icon{
    color: var(--rouge-principal-rouge-3, #D71302);
    font-size: 16px;
}

.picto-theme-card{color: var(--rouge-principal-3, #D71302);}
.picto-theme-card.cridf-icon::before {
    font-size: 20px;
}
.theme_principal{
    color: var(--noir-neutre-noir-72, rgba(17, 23, 81, 0.72));
    font-variant-numeric: lining-nums tabular-nums;
    /* Desktop/Corps de texte/Petit/Régulier */
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    display:flex;
    align-items : center;
    gap:10px;
    margin-bottom:10px;
}



.content-card-title>a {
    display: block;
    background: #ff574c;
    border-radius: 5px;
    font-weight: normal;
    color: #fff;
    padding: 5px;
    font-size: 16px;
    padding: 5px;}
.content-card-title>a:hover {
    text-decoration: none;
    background-color: #ff6f66;}
.etiquette{

    color: var(--noir-neutre-noir-72, rgba(17, 23, 81, 0.72));

    /* Desktop/Champs/Petit/Actif */
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 17.6px */}


.description{margin: 3px 0px;
    color: var(--noir-neutre-noir-72, rgba(17, 23, 81, 0.72));

    /* Desktop/Champs/Petit/Inactif */
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;}

.liste-items-card{display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 3px;
}
/* KPI Card
========================================================================== */

@media screen and (min-width: 992px) {
    .kpis-container {
        display: flex;
        justify-content: center;
    }
    .row-equal-height{    margin-bottom: 10px;}
}

.kpi-card {
    background: white;
    padding: 1rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*-webkit-box-align: center; */
    /*-ms-flex-align: center;
     /*align-items: center;
     /*text-align: center;
     /*-webkit-box-pack: center;
     /*-ms-flex-pack: center;
     /*justify-content: center;
     /*text-align: center;*/
}

.kpi-icon {
    color: var(--highlight);
    color: var(--secondary-color);
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 13px;
    max-width: 100%;
}

.kpi-title {
    color:var(--noir-neutre-100);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0px;
    max-width: 100%;
}

.kpi-unit {
    font-size: 0.8em;
    color: var(--secondary-color);
}

.kpi-description {
    color: var(--text);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
}


/* Table Module Basic
========================================================================== */

.table-module {
    height: 1000px;
    overflow-y: auto;
}

.table-basic {
    display: table;
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.table-basic thead th {
    color: var(--titles);
    background-color: #f6f8fb;
    font-weight: 500;
    padding: 13px 3px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-basic thead th:first-child,
.table-basic tbody td:first-child {
    padding-left: 13px;
}

.table-basic tr td,
.table-basic tbody th {
    font-weight: normal;
    border-top: 1px solid #dee5ef;
}

.table-basic tr td {
    padding: 13px 3px;
}

.table-basic td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table-dropdown-button {
    width: 28px;
    height: 28px;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: auto;
}

.table-basic tr:hover .table-dropdown-button {
    border-color: var(--highlight);
    text-decoration: none;
}


/* FONT REGION
=============================================*/

@font-face {
    font-family: "cridf-icon";
    src: "cridf-icon.eot";
    src:  url("/assets/theme_font/cridf-icon.ttf") format("truetype"), url("/assets/theme_font/cridf-icon.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block
}

.cridf-icon::before {
    font-family: "cridf-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    speak: none;
    text-decoration: none;
    text-transform: none
}

i.cridf-icon {
    font-size: inherit;
    width: 1em;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.cridf-icon--action-regionale::before {
    content: "\e900"
}

.cridf-icon--aide::before {
    content: "\e901"
}

.cridf-icon--aides_outlined::before {
    content: "\e902"
}

.cridf-icon--article::before {
    content: "\e903"
}

.cridf-icon--commission::before {
    content: "\e904"
}

.cridf-icon--communique::before {
    content: "\e905"
}

.cridf-icon--dossier::before {
    content: "\e906"
}

.cridf-icon--elu::before {
    content: "\e907"
}

.cridf-icon--event::before {
    content: "\e908"
}

.cridf-icon--media::before {
    content: "\e909"
}

.cridf-icon--page::before {
    content: "\e90a"
}

.cridf-icon--podcast::before {
    content: "\e90b"
}

.cridf-icon--rapport::before {
    content: "\e90c"
}

.cridf-icon--services::before {
    content: "\e90d"
}

.cridf-icon--stage-emploi::before {
    content: "\e90e"
}

.cridf-icon--tribune::before {
    content: "\e90f"
}

.cridf-icon--amazon-music::before {
    content: "\e910"
}

.cridf-icon--apple_podcasts::before {
    content: "\e911"
}

.cridf-icon--deezer::before {
    content: "\e912"
}

.cridf-icon--facebook::before {
    content: "\e913"
}

.cridf-icon--facebook-f::before {
    content: "\e913"
}

.cridf-icon--facebook_circle::before {
    content: "\e914"
}

.cridf-icon--instagram::before {
    content: "\e91e"
}

.cridf-icon--linkedin::before {
    content: "\e91f"
}

.cridf-icon--linkedin_letters::before {
    content: "\e91f"
}

.cridf-icon--linkedin_square::before {
    content: "\e920"
}

.cridf-icon--spotify::before {
    content: "\e921"
}

.cridf-icon--twitter::before {
    content: "\e922"
}

.cridf-icon--whatsapp::before {
    content: "\e923"
}

.cridf-icon--youtube::before {
    content: "\e924"
}

.cridf-icon--auto_read_pause::before {
    content: "\e925"
}

.cridf-icon--auto_read_play::before {
    content: "\e926"
}

.cridf-icon--nextplay_5::before {
    content: "\e927"
}

.cridf-icon--nextplay_10::before {
    content: "\e928"
}

.cridf-icon--nextplay_15::before {
    content: "\e929"
}

.cridf-icon--nextplay_30::before {
    content: "\e92a"
}

.cridf-icon--pause_circle::before {
    content: "\e92b"
}

.cridf-icon--pause_presentation::before {
    content: "\e92c"
}

.cridf-icon--pause::before {
    content: "\e92d"
}

.cridf-icon--play_arrow::before {
    content: "\e92e"
}

.cridf-icon--play_circle::before {
    content: "\e931"
}

.cridf-icon--replay_5::before {
    content: "\e932"
}

.cridf-icon--replay_10::before {
    content: "\e933"
}

.cridf-icon--replay_15::before {
    content: "\e934"
}

.cridf-icon--replay_30::before {
    content: "\e935"
}

.cridf-icon--replay::before {
    content: "\e936"
}

.cridf-icon--skip_next::before {
    content: "\e937"
}

.cridf-icon--skip_previous::before {
    content: "\e938"
}

.cridf-icon--volume_down::before {
    content: "\e939"
}

.cridf-icon--volume_mute::before {
    content: "\e93a"
}

.cridf-icon--volume_off::before {
    content: "\e93b"
}

.cridf-icon--volume_up::before {
    content: "\e93c"
}

.cridf-icon--add::before {
    content: "\e93d"
}

.cridf-icon--map::before {
    content: "\e93e"
}

.cridf-icon--remove::before {
    content: "\e93f"
}

.cridf-icon--zoom_in::before {
    content: "\e940"
}

.cridf-icon--zoom_out::before {
    content: "\e941"
}

.cridf-icon--accessibility::before {
    content: "\e942"
}

.cridf-icon--accessible::before {
    content: "\e943"
}

.cridf-icon--account_circle::before {
    content: "\e944"
}

.cridf-icon--add_box-1::before {
    content: "\e945"
}

.cridf-icon--add_box::before {
    content: "\e946"
}

.cridf-icon--add_circle::before {
    content: "\e947"
}

.cridf-icon--add_to_home_screen::before {
    content: "\e948"
}

.cridf-icon--agriculture::before {
    content: "\e949"
}

.cridf-icon--apartment-1::before {
    content: "\e94a"
}

.cridf-icon--apartment::before {
    content: "\e94b"
}

.cridf-icon--aspect_ratio-1::before {
    content: "\e94c"
}

.cridf-icon--aspect_ratio::before {
    content: "\e94d"
}

.cridf-icon--assignment_ind::before {
    content: "\e94e"
}

.cridf-icon--assistance::before {
    content: "\e94f"
}

.cridf-icon--assured_workload::before {
    content: "\e950"
}

.cridf-icon--attachment::before {
    content: "\e951"
}

.cridf-icon--av_timer::before {
    content: "\e952"
}

.cridf-icon--back_hand::before {
    content: "\e953"
}

.cridf-icon--badge::before {
    content: "\e954"
}

.cridf-icon--battery_full_alt::before {
    content: "\e955"
}

.cridf-icon--battery_horiz_000::before {
    content: "\e956"
}

.cridf-icon--battery_horiz_050::before {
    content: "\e957"
}

.cridf-icon--blind::before {
    content: "\e958"
}

.cridf-icon--block::before {
    content: "\e959"
}

.cridf-icon--bookmark_add::before {
    content: "\e95a"
}

.cridf-icon--bookmark_added::before {
    content: "\e95b"
}

.cridf-icon--bookmark_remove::before {
    content: "\e95c"
}

.cridf-icon--bookmark-1::before {
    content: "\e95d"
}

.cridf-icon--bookmark::before {
    content: "\e95e"
}

.cridf-icon--bookmarks::before {
    content: "\e95f"
}

.cridf-icon--business_center::before {
    content: "\e960"
}

.cridf-icon--cake::before {
    content: "\e961"
}

.cridf-icon--call::before {
    content: "\e962"
}

.cridf-icon--campaign::before {
    content: "\e963"
}

.cridf-icon--cancel::before {
    content: "\e964"
}

.cridf-icon--carpenter::before {
    content: "\e965"
}

.cridf-icon--category::before {
    content: "\e966"
}

.cridf-icon--chat::before {
    content: "\e967"
}

.cridf-icon--check_box_outline_blank::before {
    content: "\e968"
}

.cridf-icon--check_box::before {
    content: "\e969"
}

.cridf-icon--check_circle::before {
    content: "\e96a"
}

.cridf-icon--check_small::before {
    content: "\e96b"
}

.cridf-icon--check::before {
    content: "\e96c"
}

.cridf-icon--checklist::before {
    content: "\e96d"
}

.cridf-icon--clear_all::before {
    content: "\e96e"
}

.cridf-icon--clear_day::before {
    content: "\e96f"
}

.cridf-icon--clear_night::before {
    content: "\e970"
}

.cridf-icon--close_fullscreen::before {
    content: "\e971"
}

.cridf-icon--close::before {
    content: "\e972"
}

.cridf-icon--cloud_download::before {
    content: "\e973"
}

.cridf-icon--cloud_upload::before {
    content: "\e974"
}

.cridf-icon--comment::before {
    content: "\e975"
}

.cridf-icon--compost::before {
    content: "\e976"
}

.cridf-icon--contact_page::before {
    content: "\e977"
}

.cridf-icon--content_copy::before {
    content: "\e978"
}

.cridf-icon--copyright::before {
    content: "\e979"
}

.cridf-icon--crop::before {
    content: "\e97a"
}

.cridf-icon--dashboard::before {
    content: "\e97b"
}

.cridf-icon--delete::before {
    content: "\e97c"
}

.cridf-icon--desktop_windows::before {
    content: "\e97d"
}

.cridf-icon--dining::before {
    content: "\e97e"
}

.cridf-icon--directions_bike::before {
    content: "\e97f"
}

.cridf-icon--directions_bus::before {
    content: "\e980"
}

.cridf-icon--directions_car::before {
    content: "\e981"
}

.cridf-icon--directions_railway::before {
    content: "\e982"
}

.cridf-icon--directions_run::before {
    content: "\e983"
}

.cridf-icon--directions_subway::before {
    content: "\e984"
}

.cridf-icon--disabled_by_default::before {
    content: "\e985"
}

.cridf-icon--diversity_3::before {
    content: "\e986"
}

.cridf-icon--domain::before {
    content: "\e987"
}

.cridf-icon--door_open::before {
    content: "\e988"
}

.cridf-icon--download_done::before {
    content: "\e989"
}

.cridf-icon--download_for_offline::before {
    content: "\e98a"
}

.cridf-icon--download::before {
    content: "\e98b"
}

.cridf-icon--downloading-1::before {
    content: "\e98c"
}

.cridf-icon--downloading::before {
    content: "\e98d"
}

.cridf-icon--draft::before {
    content: "\e98e"
}

.cridf-icon--drag_handle::before {
    content: "\e98f"
}

.cridf-icon--eco::before {
    content: "\e990"
}

.cridf-icon--edit::before {
    content: "\e991"
}

.cridf-icon--electric_scooter::before {
    content: "\e992"
}

.cridf-icon--emergency_home::before {
    content: "\e993"
}

.cridf-icon--emoji_nature::before {
    content: "\e994"
}

.cridf-icon--energy_savings_leaf::before {
    content: "\e995"
}

.cridf-icon--euro_symbol::before {
    content: "\e996"
}

.cridf-icon--event_upcoming::before {
    content: "\e997"
}

.cridf-icon--fact_check::before {
    content: "\e998"
}

.cridf-icon--factory::before {
    content: "\e999"
}

.cridf-icon--favorite_minus::before {
    content: "\e99a"
}

.cridf-icon--favorite_plus::before {
    content: "\e99b"
}

.cridf-icon--favorite::before {
    content: "\e99c"
}

.cridf-icon--file_present::before {
    content: "\e99d"
}

.cridf-icon--flag_circle::before {
    content: "\e99e"
}

.cridf-icon--flatware::before {
    content: "\e99f"
}

.cridf-icon--folder::before {
    content: "\e9a0"
}

.cridf-icon--forest::before {
    content: "\e9a1"
}

.cridf-icon--format_color_fill::before {
    content: "\e9a2"
}

.cridf-icon--format_list_bulleted::before {
    content: "\e9a3"
}

.cridf-icon--format_list_numbered::before {
    content: "\e9a4"
}

.cridf-icon--format_paint::before {
    content: "\e9a5"
}

.cridf-icon--forum::before {
    content: "\e9a6"
}

.cridf-icon--forward_to_inbox::before {
    content: "\e9a7"
}

.cridf-icon--grid_4x4::before {
    content: "\e9a8"
}

.cridf-icon--group_work::before {
    content: "\e9a9"
}

.cridf-icon--groups_3::before {
    content: "\e9aa"
}

.cridf-icon--groups::before {
    content: "\e9ab"
}

.cridf-icon--hail::before {
    content: "\e9ac"
}

.cridf-icon--handyman::before {
    content: "\e9ad"
}

.cridf-icon--health_and_safety::before {
    content: "\e9ae"
}

.cridf-icon--hearing_disabled::before {
    content: "\e9af"
}

.cridf-icon--hearing::before {
    content: "\e9b0"
}

.cridf-icon--help::before {
    content: "\e9b1"
}

.cridf-icon--history_toggle_off::before {
    content: "\e9b2"
}

.cridf-icon--history::before {
    content: "\e9b3"
}

.cridf-icon--home::before {
    content: "\e9b4"
}

.cridf-icon--hourglass_bottom::before {
    content: "\e9b5"
}

.cridf-icon--hourglass_empty::before {
    content: "\e9b6"
}

.cridf-icon--http::before {
    content: "\e9b7"
}

.cridf-icon--idf::before {
    content: "\e9b8"
}

.cridf-icon--imagesmode::before {
    content: "\e9b9"
}

.cridf-icon--indeterminate_check_box-1::before {
    content: "\e9ba"
}

.cridf-icon--indeterminate_check_box::before {
    content: "\e9bb"
}

.cridf-icon--info::before {
    content: "\e9bc"
}

.cridf-icon--input::before {
    content: "\e9bd"
}

.cridf-icon--ios_share::before {
    content: "\e9be"
}

.cridf-icon--landscape::before {
    content: "\e9bf"
}

.cridf-icon--language::before {
    content: "\e9c0"
}

.cridf-icon--laptop_chromebook::before {
    content: "\e9c1"
}

.cridf-icon--link-1::before {
    content: "\e9c2"
}

.cridf-icon--link::before {
    content: "\e9c3"
}

.cridf-icon--local_dining::before {
    content: "\e9c4"
}

.cridf-icon--local_library::before {
    content: "\e9c5"
}

.cridf-icon--location_away::before {
    content: "\e9c6"
}

.cridf-icon--location_home::before {
    content: "\e9c7"
}

.cridf-icon--location_searching::before {
    content: "\e9c8"
}

.cridf-icon--lock::before {
    content: "\e9c9"
}

.cridf-icon--login::before {
    content: "\e9ca"
}

.cridf-icon--logout::before {
    content: "\e9cb"
}

.cridf-icon--mail::before {
    content: "\e9cc"
}

.cridf-icon--map1::before {
    content: "\e9cd"
}

.cridf-icon--mark_chat_unread::before {
    content: "\e9ce"
}

.cridf-icon--mark_email_unread::before {
    content: "\e9cf"
}

.cridf-icon--markunread_mailbox::before {
    content: "\e9d0"
}

.cridf-icon--medal::before {
    content: "\e9d1"
}

.cridf-icon--menu-ferme::before {
    content: "\e9d2"
}

.cridf-icon--menu-ouvert::before {
    content: "\e9d3"
}

.cridf-icon--menu_book::before {
    content: "\e9d4"
}

.cridf-icon--menu_open::before {
    content: "\e9d5"
}

.cridf-icon--mood_bad::before {
    content: "\e9d6"
}

.cridf-icon--mood::before {
    content: "\e9d7"
}

.cridf-icon--more_horiz::before {
    content: "\e9d8"
}

.cridf-icon--more_time::before {
    content: "\e9d9"
}

.cridf-icon--more_vert::before {
    content: "\e9da"
}

.cridf-icon--motorcycle::before {
    content: "\e9db"
}

.cridf-icon--my_location::before {
    content: "\e9dc"
}

.cridf-icon--nature::before {
    content: "\e9dd"
}

.cridf-icon--near_me::before {
    content: "\e9de"
}

.cridf-icon--newsletter::before {
    content: "\e9df"
}

.cridf-icon--newspaper::before {
    content: "\e9e0"
}

.cridf-icon--notification_important::before {
    content: "\e9e1"
}

.cridf-icon--offline_pin::before {
    content: "\e9e2"
}

.cridf-icon--open_in_full::before {
    content: "\e9e3"
}

.cridf-icon--outgoing_mail::before {
    content: "\e9e4"
}

.cridf-icon--palette::before {
    content: "\e9e5"
}

.cridf-icon--park::before {
    content: "\e9e6"
}

.cridf-icon--payments::before {
    content: "\e9e7"
}

.cridf-icon--pedal_bike::before {
    content: "\e9e8"
}

.cridf-icon--pending::before {
    content: "\e9e9"
}

.cridf-icon--perm_contact_calendar::before {
    content: "\e9ea"
}

.cridf-icon--perm_phone_msg::before {
    content: "\e9eb"
}

.cridf-icon--person_add::before {
    content: "\e9ec"
}

.cridf-icon--person_remove::before {
    content: "\e9ed"
}

.cridf-icon--pets::before {
    content: "\e9ee"
}

.cridf-icon--phone_iphone::before {
    content: "\e9ef"
}

.cridf-icon--photo_camera::before {
    content: "\e9f0"
}

.cridf-icon--pin_drop::before {
    content: "\e9f1"
}

.cridf-icon--policy::before {
    content: "\e9f2"
}

.cridf-icon--print::before {
    content: "\e9f3"
}

.cridf-icon--priority::before {
    content: "\e9f4"
}

.cridf-icon--prize::before {
    content: "\e9f5"
}

.cridf-icon--public::before {
    content: "\e9f6"
}

.cridf-icon--quiz::before {
    content: "\e9f7"
}

.cridf-icon--radio_button-off::before {
    content: "\e9f8"
}

.cridf-icon--radio_button-on::before {
    content: "\e9f9"
}

.cridf-icon--recent_actors::before {
    content: "\e9fa"
}

.cridf-icon--recommend-1::before {
    content: "\e9fb"
}

.cridf-icon--recommend::before {
    content: "\e9fc"
}

.cridf-icon--restart_alt::before {
    content: "\e9fd"
}

.cridf-icon--rss_feed::before {
    content: "\e9fe"
}

.cridf-icon--savings::before {
    content: "\e9ff"
}

.cridf-icon--schedule_outlined::before {
    content: "\ea00"
}

.cridf-icon--schedule::before {
    content: "\ea01"
}

.cridf-icon--school::before {
    content: "\ea02"
}

.cridf-icon--science::before {
    content: "\ea03"
}

.cridf-icon--search_thicker::before {
    content: "\ea04"
}

.cridf-icon--search::before {
    content: "\ea05"
}

.cridf-icon--sell::before {
    content: "\ea06"
}

.cridf-icon--sensor_occupied::before {
    content: "\ea07"
}

.cridf-icon--settings_accessibility::before {
    content: "\ea08"
}

.cridf-icon--settings_applications::before {
    content: "\ea09"
}

.cridf-icon--settings_suggest-1::before {
    content: "\ea0a"
}

.cridf-icon--settings_suggest::before {
    content: "\ea0b"
}

.cridf-icon--settings::before {
    content: "\ea0c"
}

.cridf-icon--share::before {
    content: "\ea0d"
}

.cridf-icon--sign_language::before {
    content: "\ea0e"
}

.cridf-icon--signpost::before {
    content: "\ea0f"
}

.cridf-icon--slideshow::before {
    content: "\ea10"
}

.cridf-icon--smart_display::before {
    content: "\ea11"
}

.cridf-icon--sms::before {
    content: "\ea12"
}

.cridf-icon--social_distance::before {
    content: "\ea13"
}

.cridf-icon--sports_handball::before {
    content: "\ea14"
}

.cridf-icon--square_foot::before {
    content: "\ea15"
}

.cridf-icon--stadia_controller::before {
    content: "\ea16"
}

.cridf-icon--star_half::before {
    content: "\ea17"
}

.cridf-icon--star::before {
    content: "\ea18"
}

.cridf-icon--stars::before {
    content: "\ea19"
}

.cridf-icon--subject::before {
    content: "\ea1a"
}

.cridf-icon--tab::before {
    content: "\ea1b"
}

.cridf-icon--task_alt::before {
    content: "\ea1c"
}

.cridf-icon--theater_comedy::before {
    content: "\ea1d"
}

.cridf-icon--thumb_up::before {
    content: "\ea1e"
}

.cridf-icon--toggle-off::before {
    content: "\ea1f"
}

.cridf-icon--toggle-on::before {
    content: "\ea20"
}

.cridf-icon--tune::before {
    content: "\ea21"
}

.cridf-icon--two_wheeler::before {
    content: "\ea22"
}

.cridf-icon--unfold_less::before {
    content: "\ea23"
}

.cridf-icon--unfold_more::before {
    content: "\ea24"
}

.cridf-icon--upload::before {
    content: "\ea25"
}

.cridf-icon--verified::before {
    content: "\ea26"
}

.cridf-icon--videocam::before {
    content: "\ea27"
}

.cridf-icon--view_comfy::before {
    content: "\ea28"
}

.cridf-icon--view_day::before {
    content: "\ea29"
}

.cridf-icon--view_sidebar::before {
    content: "\ea2a"
}

.cridf-icon--visibility_off::before {
    content: "\ea2b"
}

.cridf-icon--visibility::before {
    content: "\ea2c"
}

.cridf-icon--web_asset::before {
    content: "\ea2d"
}

.cridf-icon--where_to_vote-1::before {
    content: "\ea2e"
}

.cridf-icon--where_to_vote::before {
    content: "\ea2f"
}

.cridf-icon--widgets::before {
    content: "\ea30"
}

.cridf-icon--work_history::before {
    content: "\ea31"
}

.cridf-icon--workspaces::before {
    content: "\ea32"
}

.cridf-icon--comprendre_region::before {
    content: "\ea33"
}

.cridf-icon--construire::before {
    content: "\ea34"
}

.cridf-icon--developper::before {
    content: "\ea35"
}

.cridf-icon--morienter::before {
    content: "\ea36"
}

.cridf-icon--participer::before {
    content: "\ea37"
}

.cridf-icon--patrimoine::before {
    content: "\ea38"
}

.cridf-icon--vivre_-idf::before {
    content: "\ea39"
}

.cridf-icon--360::before {
    content: "\ea3a"
}

.cridf-icon--arrow_back_ios_new::before {
    content: "\ea3b"
}

.cridf-icon--arrow_back_ios::before {
    content: "\ea3c"
}

.cridf-icon--arrow_backward::before {
    content: "\ea3d"
}

.cridf-icon--arrow_circle_down::before {
    content: "\ea3e"
}

.cridf-icon--arrow_circle_left_line::before {
    content: "\ea3f"
}

.cridf-icon--arrow_circle_left::before {
    content: "\ea40"
}

.cridf-icon--arrow_circle_right_line::before {
    content: "\ea41"
}

.cridf-icon--arrow_circle_right::before {
    content: "\ea42"
}

.cridf-icon--arrow_circle_up::before {
    content: "\ea43"
}

.cridf-icon--arrow_downard::before {
    content: "\ea44"
}

.cridf-icon--arrow_drop_down_circle-1::before {
    content: "\ea45"
}

.cridf-icon--arrow_drop_down_circle::before {
    content: "\ea46"
}

.cridf-icon--arrow_drop_down::before {
    content: "\ea47"
}

.cridf-icon--arrow_drop_left::before {
    content: "\ea48"
}

.cridf-icon--arrow_drop_right::before {
    content: "\ea49"
}

.cridf-icon--arrow_drop_up::before {
    content: "\ea4a"
}

.cridf-icon--arrow_forward_ios-1::before {
    content: "\ea4b"
}

.cridf-icon--arrow_forward_ios::before {
    content: "\ea4c"
}

.cridf-icon--arrow_forward::before {
    content: "\ea4d"
}

.cridf-icon--arrow_left_alt::before {
    content: "\ea4e"
}

.cridf-icon--arrow_outward::before {
    content: "\ea4f"
}

.cridf-icon--arrow_right_alt::before {
    content: "\ea50"
}

.cridf-icon--arrow_up::before {
    content: "\ea51"
}

.cridf-icon--autorenew::before {
    content: "\ea52"
}

.cridf-icon--drop_down_circle_line::before {
    content: "\ea53"
}

.cridf-icon--drop_down_circle::before {
    content: "\ea54"
}

.cridf-icon--drop_up_circle_line::before {
    content: "\ea55"
}

.cridf-icon--drop_up_circle::before {
    content: "\ea56"
}

.cridf-icon--east::before {
    content: "\ea57"
}

.cridf-icon--expand_circle_down-1::before {
    content: "\ea58"
}

.cridf-icon--expand_circle_down::before {
    content: "\ea59"
}

.cridf-icon--expand_less::before {
    content: "\ea5a"
}

.cridf-icon--expand_more::before {
    content: "\ea5b"
}

.cridf-icon--google_plus_reshare::before {
    content: "\ea5c"
}

.cridf-icon--north::before {
    content: "\ea5d"
}

.cridf-icon--outbound::before {
    content: "\ea5e"
}

.cridf-icon--south::before {
    content: "\ea5f"
}

.cridf-icon--subdirectory_arrow_right::before {
    content: "\ea60"
}

.cridf-icon--view_less::before {
    content: "\ea61"
}

.cridf-icon--view_more::before {
    content: "\ea62"
}

.cridf-icon--alternate_email::before {
    content: "\ea63"
}

.cridf-icon--chatbot::before {
    content: "\ea64"
}

.cridf-icon--database::before {
    content: "\ea65"
}

.cridf-icon--favorite-outlined::before {
    content: "\ea66"
}

.cridf-icon--filter_list::before {
    content: "\ea67"
}

.cridf-icon--flash_on::before {
    content: "\ea68"
}

.cridf-icon--how_to_vote::before {
    content: "\ea69"
}

.cridf-icon--local_hospital::before {
    content: "\ea6a"
}

.cridf-icon--menu-ferme1::before {
    content: "\ea6b"
}

.cridf-icon--menu-ouvert1::before {
    content: "\ea6c"
}

.cridf-icon--radio_button-off1::before {
    content: "\ea6d"
}

.cridf-icon--radio_button-on1::before {
    content: "\ea6e"
}

.cridf-icon--security::before {
    content: "\ea6f"
}

.cridf-icon--toggle-off1::before {
    content: "\ea70"
}

.cridf-icon--toggle-on1::before {
    content: "\ea71"
}

.cridf-icon--waving_hand::before {
    content: "\ea72"
}

.cridf-icon--action-regionale1::before {
    content: "\ea73"
}

.cridf-icon--communique1::before {
    content: "\ea74"
}

.cridf-icon--partenaire::before {
    content: "\ea75"
}

.cridf-icon--stage-emploi1::before {
    content: "\ea76"
}

.cridf-icon--amazon-music1::before {
    content: "\ea77"
}

.cridf-icon--facebook-f1::before {
    content: "\ea78"
}

.cridf-icon--vivre_-idf1::before {
    content: "\ea79"
}

.cridf-icon--p::before {
    content: "\ea7a"
}

.cridf-icon--add_shopping_cart::before {
    content: "\ea7b"
}

.cridf-icon--auto_graph::before {
    content: "\ea7c"
}

.cridf-icon--bar_chart_4_bars::before {
    content: "\ea7d"
}

.cridf-icon--circles_ext::before {
    content: "\ea7e"
}

.cridf-icon--code_blocks::before {
    content: "\ea7f"
}

.cridf-icon--construction::before {
    content: "\ea80"
}

.cridf-icon--do_not_disturb_on::before {
    content: "\ea81"
}

.cridf-icon--eco-1::before {
    content: "\ea82"
}

.cridf-icon--edit_document::before {
    content: "\ea83"
}

.cridf-icon--error::before {
    content: "\ea84"
}

.cridf-icon--event_available::before {
    content: "\ea85"
}

.cridf-icon--favorite-outlined1::before {
    content: "\ea86"
}

.cridf-icon--fiber_manual_record-line::before {
    content: "\ea87"
}

.cridf-icon--gavel::before {
    content: "\ea88"
}

.cridf-icon--handshake::before {
    content: "\ea89"
}

.cridf-icon--home_repair_service::before {
    content: "\ea8a"
}

.cridf-icon--laps::before {
    content: "\ea8b"
}

.cridf-icon--menu-ferme2::before {
    content: "\ea8c"
}

.cridf-icon--menu-ouvert2::before {
    content: "\ea8d"
}

.cridf-icon--monitoring::before {
    content: "\ea8e"
}

.cridf-icon--pdf::before {
    content: "\ea8f"
}

.cridf-icon--pin::before {
    content: "\ea90"
}

.cridf-icon--production_quantity_limits::before {
    content: "\ea91"
}

.cridf-icon--radio_button-off2::before {
    content: "\ea92"
}

.cridf-icon--radio_button-on2::before {
    content: "\ea93"
}

.cridf-icon--remove_shopping_cart::before {
    content: "\ea94"
}

.cridf-icon--scatter_plot::before {
    content: "\ea95"
}

.cridf-icon--shelf_position::before {
    content: "\ea96"
}

.cridf-icon--shopping_cart_checkout::before {
    content: "\ea97"
}

.cridf-icon--shopping_cart::before {
    content: "\ea98"
}

.cridf-icon--stadium::before {
    content: "\ea99"
}

.cridf-icon--toggle-off2::before {
    content: "\ea9a"
}

.cridf-icon--toggle-on2::before {
    content: "\ea9b"
}

.cridf-icon--transportation::before {
    content: "\ea9c"
}

.cridf-icon--verified-ligne::before {
    content: "\ea9d"
}

.cridf-icon--warning::before {
    content: "\ea9e"
}

.cridf-icon--workspace_premium::before {
    content: "\ea9f"
}

.cridf-icon--xls::before {
    content: "\eaa0"
}

.cridf-icon--arrow_range::before {
    content: "\eaa1"
}

.cridf-icon--keyboard_double_arrow_left::before {
    content: "\eaa2"
}

.cridf-icon--keyboard_double_arrow_right::before {
    content: "\eaa3"
}

/*
=====================SURCHARGE FONTAWESOME */
.fa-angle-down:before {font-family: "cridf-icon";
    content: "\ea58";
}

.fa-angle-up:before {font-family: "cridf-icon";
    content: "\ea59";
}

