/* General Layout
========================================================================== */
:root {
    --blanc-neutre-100: #FFF;
    --noir-neutre-100: #111751;
    --noir-neutre-72: rgba(17, 23, 81, 0.72);
    --secondary-color: black;
    --Gris-clair: #f4f4f4;
    --Gris-moyen: #ced4da;
    --Bleu-primaire: #2A327B;
    --Bleu-clair-neutre: #EFF1FF;
    --Bleu-gris: #cbd2db;
    --Safran: #F4C430;
    --Jaune: #d7c502;
    --Vert: #1598a3;
    --Vert-fonce: #0f6e76;
    --Vert-tres-foncee: #09474c;
    --Vert-assez-claire: #3c7a7e;
    --Vert-fonce-plus-clair: #327e6d;
    --noir: #000000;
}

body{
    background:none;
    background-color:white;
    font-family: "IBM Plex Sans", sans-serif;
    font-size:16px;

}
main {
    margin: 1rem 0 1em 0;

}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}
.titre-accroche{
    padding: 30px 65px;
    margin: 0 0 25px;
    background: #fff;
}
.ods-content{
    /*background: url(/assets/theme_image/pattern.png) repeat top left;*/
    position: relative;
    z-index: 1;
}
@media screen and (min-width: 992px) {
    .row-equal-height {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    /* Fix for early content wrapping in Safari*/
    .row-equal-height:before,
    .row-equal-height:after {
        content: normal;
    }
}

@media screen and (min-width: 1500px){
    .container {
        width: 1440px;
    }

}

.page-title {
    position: relative;
    font-size: 3rem;

    margin: 0 0 15px;
    padding-left: 20px;
    font-family: "Eczar",arial,arial,sans-serif;
}
.page-title:before{

    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 6px;
    background: #ff574c;
}

.page-subtitle {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.2;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}
/* titre - intro
========================================================================== */
.header-article
{}

h1{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size:32px;
    display: flex;
    padding: 4rem 0rem;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    align-self: stretch;
    border-radius: 12px 12px 0px 0px ;
    color: var(--Vert, #19AB90)
}

.container-article{
    display: flex;
    width: 100%;
    padding: 2.5rem 10rem;
    justify-content: center;
    align-items: flex-start;
    gap: 1.2rem;
    flex-wrap:wrap;
}
.container-article>ul.intro, .container-article>p{
    margin-top:0px;
    margin-bottom: 0px;
}
ul.intro li:before {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--rouge-principal-3, #D71302);
    margin: 0 8px 0 0;
}

.container-article p, .container-article ul{
    width:100%;
    color: var(--Vert, #19AB90);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.container-article p:not(:first-child) {
    margin-top:1rem;
}
.encadre-droit a {
    color: var(--noir);
    font-weight: 400;
    text-decoration: underline;
}
.encadre-droit a:hover{
    color:var(--Gris, #292929);
}
/* TEXTE DE L'ACTE ADMINISTRATIF
==========================================================================*/
h2{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size:24px;}

/* Search Module
========================================================================== */

.search-module-container {
    padding: 26px;
    margin-bottom: 10px;
}

.search-module {
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid #dee5ef;
    margin-bottom: 13px;
    transition: all .2s;
}

.search-module:hover,
.search-module:focus-within {
    border-bottom-color: var(--links);
}

.search-module-icon {
    color: #898d92;
    margin-right: 8px;
    align-self: center;
}

.search-module-input {
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none;
    padding: 12px 0;
    transition: all .2s;
    color: var(--text);
}

.search-module-input::placeholder {
    transition: all .2s;
}

.search-module-clear {
    color: #898d92;
    font-size: 1rem;
    background: transparent;
    border: none;
    margin: 0;
    outline: none;
    padding: 0 0 0 12px;
    transition: all .2s;
}

.search-module-clear:hover {
    opacity: .65;
}

.search-module:hover .search-module-icon,
.search-module:focus-within .search-module-icon,
.search-module:hover .search-module-input::placeholder,
.search-module:focus-within .search-module-input::placeholder {
    color: var(--links)
}


/* Filters
========================================================================== */

.filter-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.filter-list > * {
    margin: 0 0 10px;
    width: 100%;
}
.odswidget-select .odswidget-select-dropdown.open .odswidget-select-dropdown-menu {
    width: 100%
}
.clear-filters {
    display: flex;
    align-items: center;
    justify-content: center;
}
.clear-filters-button:hover {
    opacity: 0.65;
}
.odswidget-select,
.odswidget-select .odswidget-select-dropdown {
    width: 200px;
}
.odswidget-select-button{
    padding: 5px 15px 5px 15px;
    border: 1px solid #000;
    border-radius: 20px;
    color: #212429;
}
.odswidget-select-input{
    padding: 5px 15px 5px 15px;
    border: 1px solid #ff574c;
    border-radius: 20px;
    color: #212429;
}
.odswidget-select-input-container {
    position: relative;

}
.odswidget-select-button:hover {
    border: 1px solid #ff574c;
}
@media screen and (min-width: 500px) {
    .filter-list > * {
        margin: 0 10px 10px 0;
        width: inherit;
    }
    .odswidget-select .odswidget-select-dropdown.open .odswidget-select-dropdown-menu {
        width: max-content;
        min-width: 200px;
    }
}
.odswidget-select-dropdown-item-icon.fa-check-square {
    color: #ff574c;
}
odswidget-select-dropdown-item-icon {
    color: #ff574c;
}
.odswidget-select-dropdown-label {
    padding: 3px 0 3px 0;}
/*********** Filter date ************/
.filter-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 13px 26px 32px 26px;
}
.odswidget-date-range-slider {
    width: 100%;
}
.filter-date-button {
    margin-left: 0;
    margin-top: 13px;
    white-space: nowrap;
    text-decoration: none;
}
.filter-date-button:not(.filter-date-button-disabled):hover {
    opacity: 0.65;
}
.filter-date-button-disabled {
    opacity: 0.5;
    pointer-event: none;
    text-decoration: none;
}

@media screen and (min-width: 500px) {
    .filter-date {
        flex-direction: row;
    }
    .filter-date-button {
        margin-left: 50px;
        margin-top: 0;
    }
}

/* date range slider style override */
.odswidget-date-range-slider .irs--flat .irs-from, .odswidget-date-range-slider .irs--flat .irs-single, .odswidget-date-range-slider .irs--flat .irs-to {
    color: var(--text);
    border: 1px solid #cbd2db;
    border-radius: 2rem;
    background: #FFFFFF;
}
.odswidget-date-range-slider .irs--flat .irs-from:before, .odswidget-date-range-slider .irs--flat .irs-single:before, .odswidget-date-range-slider .irs--flat .irs-to:before {
    border-top-color: var(--text);
}
.odswidget-date-range-slider .irs--flat .irs-bar {
    background-color: #ff574c;
}
.odswidget-date-range-slider .irs--flat .irs-handle>i:first-child {
    background-color: var(--highlight);
}
.odswidget-date-range-slider .irs--flat .irs-handle.state_hover>i:first-child, .odswidget-date-range-slider .irs--flat .irs-handle:hover>i:first-child {
    background-color: var(--text);
}

.irs--flat .irs-grid-text {
    color: #333;
}

/* Content Card
========================================================================== */

.content-card {
    background-color: var(--boxes-background);
    height: 100%;
}

.content-card-horizontal {
    display: flex;
}

.content-card-horizontal .content-card-img {
    height: auto;
    flex: 0 0 25%;
    width: 25%;
    border-radius: 4px 0 0 4px;
}

.content-card-img {
    display: block;
    height: 110px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-card-body {
    padding: 26px;
    flex: 1 1 auto;
}

.content-card-title {
    color: var(--secondary-color, black);
    /*font-size: 20px; */
    margin-top: 0;
    margin-bottom: 10px;
    max-width: 100%;
    display: block;
    font-family: Outfit;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 30.8px */
}


.content-card-description {
    color: var(--secondary-color);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 26px;
    max-width: 100%;
}

.content-card-fields dt {
    font-size: 0.8rem;
    opacity: 0.8;
    display:none;
}

.content-card-fields dd {
    margin-left: 0;
}

.content-card-icon {
    color: var(--highlight);
    font-size: 2rem;
    margin-bottom: 13px;
    max-width: 100%;
}

.content-card-link {
    color: var(--links);
    font-weight: bold;
    transition: all .2s;
    opacity: 1;
    max-width: 100%;
}

.content-card-link:hover {
    opacity: .7;
    text-decoration: none;
}

.content-card-button {
    color: var(--highlight);
    border: 1px solid var(--highlight);
    background: transparent;
    display: inline-block;
    text-align: center;
    font-size: .867rem;
    border-radius: 4px;
    padding: .5rem 1.15rem;
    text-decoration: none;
    transition: all .2s;
}

.content-card-button:hover {
    background-color: var(--highlight);
    color: #FFFFFF;
    text-decoration: none;
}
ul {
    list-style:none;
    margin:0;
    padding-left:0;
    color:#212429;


}
li {
    margin-bottom:0px;/* à adapter */
}
.bouton-lien .etiquette{
    color:#eee;
}
.liens-doc{
    display: flex;
    gap:16px;
}

.bouton-lien {    display: flex;
    padding: 0.75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 4.375rem;
    background: white;
    border: 1px solid var(--rouge-principal-rouge-3, #D71302);
    margin-top: 12px;
    color: var(--rouge-principal-rouge-3, #D71302);
    animation: pulsation 1.1s ease-in-out 0s 2 normal both;
    transition: background .5s ease;
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
}
@keyframes pulsation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.06);
    }
    100% {
        transform: scale(1);
    }
}

.bouton-lien:hover{
    text-decoration: none;
    color : var(--rouge-principal-4);
    border-color:var(--rouge-principal-4);
    background: rgba(17, 23, 81, 0.08);
}


.bouton:hover{text-decoration: none;
    color: #212429;
    background-color: #e0dede;}
.bloc-bouton-back{
    display: flex;
    justify-content: center;
}
.bouton-back{
    display:flex;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    gap:10px;
    width: fit-content;
    border-radius: 2.25rem;
    background: var(--rouge-principal-3);
    padding: .75rem 2rem;
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration:none;
    color:white}
.bouton-back:hover{
    text-decoration:none;
}

.bouton-back>i::before {font-size:1.25rem}
ul li.ng-scope  a {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 20px;
    border-radius: 5px;
    background: #ecebeb;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 3px;
    color:#333!important
}
.encadre-droit{
    margin-top:-12px!important;
    float: right;
    max-width: 285px;
    position: relative;
    padding: 10px 15px;
    background-color: var(--Vert);
    border-radius: 1rem;
    font-size: .9rem;
    margin: 10px 0 10px;
    color: var(--noir);
}

.picto-theme-card{color: var(--rouge-principal-3, #D71302);}
.picto-theme-card.cridf-icon::before {
    font-size: 20px;
}
.theme_principal{
    color: var(--Vert-fonce, #207d6c);
    font-variant-numeric: lining-nums tabular-nums;
    /* Desktop/Corps de texte/Petit/Régulier */
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    display:flex;
    align-items : center;
    gap:10px;
    margin-bottom:10px;
}

ul>li.ng-scope>a:hover{
    text-decoration: none;
    color: #212429;
    background-color: #e0dede;}
.content-card-title>a {
    display: block;
    background: #ff574c;
    border-radius: 5px;
    font-weight: normal;
    color: #fff;
    padding: 5px;
    font-size: 1.2rem;
    padding: 5px;}
.content-card-title>a:hover {
    text-decoration: none;
    background-color: #ff6f66;
}

.etiquette{

    color: var(--Vert-fonce, #207d6c);

    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}


.description{margin: 3px 0px;
    color: var(--Vert-fonce, #207d6c);
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}
li.description {
    display: flex;
    align-items: center;
}

li.description .etiquette {
    display: flex;
    align-items: center;
}

li.description svg {
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
.liste-items-card {
    display: flex;
    flex-direction: row;
    gap: 150px;
}
/* KPI Card
========================================================================== */

@media screen and (min-width: 992px) {
    .kpis-container {
        display: flex;
        justify-content: center;
    }
    .row-equal-height{    margin-bottom: 10px;}
}

.kpi-card {
    background: #dcdcdc;
    padding: 15px 25px;

    /*padding: 39px;*/
    padding-left:26px;

    /*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*-webkit-box-align: center; */
    /*-ms-flex-align: center;
    /*align-items: center;
    /*text-align: center;
    /*-webkit-box-pack: center;
    /*-ms-flex-pack: center;
    /*justify-content: center;
    /*text-align: center;*/
}

.kpi-icon {
    color: var(--highlight);
    color: var(--secondary-color);
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 13px;
    max-width: 100%;
}

.kpi-title {
    font-weight: normal;
    color: black;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0px;
    max-width: 100%;
}

.kpi-unit {
    font-size: 0.8em;
    color: var(--secondary-color);
}

.kpi-description {
    color: var(--text);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
}


/* Table Module Basic
========================================================================== */

.table-module {
    height: 1000px;
    overflow-y: auto;
}

.table-basic {
    display: table;
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.table-basic thead th {
    color: var(--titles);
    background-color: #f6f8fb;
    font-weight: 500;
    padding: 13px 3px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-basic thead th:first-child,
.table-basic tbody td:first-child {
    padding-left: 13px;
}

.table-basic tr td,
.table-basic tbody th {
    font-weight: normal;
    border-top: 1px solid #dee5ef;
}

.table-basic tr td {
    padding: 13px 3px;
}

.table-basic td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table-dropdown-button {
    width: 28px;
    height: 28px;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: auto;
}

.table-basic tr:hover .table-dropdown-button {
    border-color: var(--highlight);
    text-decoration: none;
}

.table-camelot {
    background: aliceblue;
    padding: 0px 10px 10px 10px;
}

.table-camelot::before {
    content: "Ce tableau a été reproduit à partir du fichier PDF transmis au contrôle de légalité grâce à des algorithmes innovants. Seul le tableau présent dans le document PDF fait foi.";
    background: #ddf0ff;
    padding: 5px;
    border: 1px solid;
    display: block;
    margin: 5px 0px;
}

#acces-rapide {
    background: var(--blanc-neutre-100);
    padding: 15px;
    margin: 0px 0px 10px 10px;
    border-radius: 1rem;
    border: 1px solid var(--noir-neutre-16);
    width: fit-content;
    max-width:50%;float:right;

    color:var(--bleu-principal-4);
}
#acces-rapide a {
    display:block;
    font-family: Outfit;
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom:10px;
}
#acces-rapide ul li {
    display:block;
}
#acces-rapide ul li::after {
    content: " (disponible dans la version PDF téléchargeable ci-dessus)";
    font-style: italic;
    font-size:smaller;
    color: var(--noir-neutre-72);
}

.test {
    display: flex;
    justify-content: space-between; /* Distribue les éléments avec de l'espace entre eux */
    align-items: center; /* Aligne les éléments verticalement au centre */
}